<!DOCTYPE html>
<html lang="en">
{% extends "base.html"%}
{% load static%}
{% block body %}
 <link rel="stylesheet" href='{% static "document.css"%}' />
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <div class="container-fluid">
    <div class="dropdown navbar-brand">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    {{cart.customer_name}}
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Link 1</a></li>
    <li><a class="dropdown-item" href="#">Link 2</a></li>
    <li><a class="dropdown-item" href="#">Link 3</a></li>
  </ul>
</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse second" id="mynavbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">
          <a>New Record</a>
            </button>
        </li>
        <li class="nav-item px-4">
               <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

    <div class="row justify-content-center ">
      {% for customer in credit_id%}
      <div class="card col-lg-4 py-3" >
        <img class="card-img-top " src='{%static "bookBackground.jpg"%}' alt="Card image">
        <div class="card-img-overlay text-center text-white document">
          <h4 class="card-title" style="text-transform: capitalize;">{{customer.customer_name}}</h4>
          <p class="card-text">Record all Product brought in.</p>
           <a class="btn btn-success" href="{% url 'credit_detail' customer.customer_id%}">Details</a>
        </div>
      </div>
      {% endfor %}
    </div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Customer Name</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="" method="POST" id="">{% csrf_token %}
          <div class="col-lg-7">
            <input type="text" class="form-control" placeholder="Customer Name" name="customer_name">
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer mx-auto">
         <button type="submit" class="btn btn-success" >Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock body%}

</html>