<!DOCTYPE html>
<html lang="en">
{% extends "base.html"%}
{% load static%}
{% block body %}
<style>

    text-align: center;
}
#counter{
    width: 60px;
}
</style>
<link rel="stylesheet" href='{% static "purchasebook.css"%}'/>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <div class="container-fluid">
    <div class="dropdown navbar-brand">
  <button type="button" class="btn btn-primary">
    {{username}}
  </button>
</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse second" id="mynavbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="dashboard-content">
            <table class="align-content-center table-pattern">
                <tr>
                    <th>Part Name</th>
                    <th>Part Number</th>
                     <th>Location</th>
                    <th>Price</th>
                    <th>Quantity In</th>
                </tr>

          <form method="POST">
              {% csrf_token %}
              <tr>
                    <td><input type="text"  name="part_name"></td>
                    <td><input type="text"  name="part_number" ></td>
                    <td><input type="text" name="location" ></td>
                    <td><input type="text"  name="price" ></td>
                    <td>
                        <input type="number" id="counter" name="quantity" value="1">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </td>
                </tr>
          </form>

            </table>
{% endblock body%}

</html>