<!DOCTYPE html>
<html lang="en">
{% extends "base.html"%}
{% load static%}
{% block body %}
<style>
    #table-content{
    background-color: inherit;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    text-align: center;

}
#counter{
    width: 60px;
}
</style>
<link rel="stylesheet" href='{% static "purchasebook.css"%}'/>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <div class="container-fluid">
    <div class="dropdown navbar-brand">
  <button type="button" class="btn btn-primary">
    {{username}}
  </button>
</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse second" id="mynavbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a href="/documents/newproduct">
              <button class="btn btn-success" type="submit">New Product</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="dashboard-content">
            <table class="align-content-center table-pattern">
                <tr>
                    <th>Part Name</th>
                    <th>Part Number</th>
                    <th>Balance</th>
                     <th>Location</th>
                    <th>Price</th>
                    <th>Quantity In</th>
                </tr>
                        {% for x in stock %}
          <form method="POST">
              {% csrf_token %}
              <tr>
                    <td><input type="text" id="table-content" name="part_name" value="{{x.name}}" readonly></td>
                    <td><input type="text" id="table-content" name="part_number" value="{{x.part_number}}" readonly></td>
                    <td><input type="text" id="table-content" name="balance" value="{{x.Balance}}" readonly></td>
                    <td><input type="text" id="table-content" name="location" value="{{x.location}}" readonly></td>
                    <td><input type="text" id="table-content" name="price" value="{{x.price}}" readonly></td>
                    <td>
                        <input type="number" id="counter" name="quantity" value="1">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </td>
                </tr>
          </form>
                {% endfor %}
            </table>
{% endblock body%}

</html>